<h4  *ngIf="isAdmin">Vous êtes un administrateur ! Que voulez faire ?</h4>
<h4  *ngIf="!isAdmin">Vous êtes une entreprise ! Que voulez faire ?</h4>

<br>
<br>

<button *ngIf="isAdmin==true" routerLink="/sites">Voir tous les sites</button>
<button *ngIf="isAdmin==false" routerLink="/sites">Voir mes sites</button>
<button *ngIf="!isAdmin" [routerLink]="['company', id]">Modifier mon compte</button>
<button *ngIf="isAdmin" routerLink="/create-admin">Créer un administrateur</button>
<button *ngIf="isAdmin" routerLink="/component-models">Voir les modèles de composants</button>
